@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: linear-gradient(to right, rgb(78, 13, 121), rgb(0, 0, 0));
    color: powderblue;
    margin: 0;
    font-size: 30;
    font-family: "Bebas Neue";
}

.tela_fundo{
    background-image: url(imagens_crise/image.png);
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 40%;
    background-attachment: fixed;
}

header,footer{
    text-align: center;
    background-color: black;
    padding: 30;
}

a:link, a:visited, a:hover,a:active{
    color: powderblue;
    text-decoration: none;
}

h1{
    font-size: 200%
}

h2{
    font-size: 130%;
    text-decoration: underline;
}

.tamanho1{
    height: 90%;
    width: 90%;
    padding-bottom: 5%;
}

.tamanho2{
    block-size: 20%;
}

.tamanho3{
    padding-bottom: 10%;
}

table{
    height: 300px;
    font-size: 30px;
    text-align: center;
}

th,td{
    border: 2px solid rgb(162, 39, 133);
}

th{
    color: rgb(162, 39, 133);
}

.oculto{
    display: none;
}
